<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Apotek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>

    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
</head>
<body>
    <div class="container py-5 container-cadastrar-cliente" >
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center text-white mb-4">Cadastro </h2>
                <div class="row">
                    <div class="col-md-6 mx-auto">

                        <!-- form card login -->
                        <div class="card rounded-0">
                            <div class="card-header">
                                <h3 class="mb-0">Cadastro</h3>
                            </div>
                            <div class="card-body">
                                <form action="suporte_cadastrar.php" method="POST" onsubmit="return validarNome(), validarEmail(),validarSenha(), validarCpf(), validarDn(), pesquisaCep(), validarNumero(), validarComplemento(), validarCidade(),validarEstado();">
                            
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Nome completo</label>
                                    <div class="col-10">
                                        <input id="nome" class="form-control" type="text" placeholder="Ex.:João da Silva" name="nome_completo" onchange="validarNome()">
                                        <span class="invalido" id="nome_invalido">Nome Inválido!</span>
                                    </div>
                                </div>
                            
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">E-mail</label>
                                    <div class="col-10">
                                        <input id="email" class="form-control" type="email" placeholder="Ex.:Exemple@mail.com" onchange="validarEmail();" name="email">
                                        <span class="invalido" id="email_invalido">E-mail Inválido!</span>
                                    </div>
                                </div>
                            
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Senha</label>
                                    <div class="col-10">
                                        <input id="senha" class="form-control" type="password" placeholder="Poli098" onchange="validarSenha()" name="senha">
                                        <span class="invalido" id="senha_invalida">Senha Inválida!</span>
                                    </div>
                                </div> 
                                
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Confirma senha</label>
                                    <div class="col-10">
                                        <input id="confirmar_senha" class="form-control" type="password" placeholder="Poli098" onchange="validarSenha()">
                                        <span class="invalido" id="Csenhainvalida_invalida">Senha Inválida!</span>
                                    </div>
                                </div> 
                            
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">CPF</label>
                                    <div class="col-10">
                                        <input id="cpf" class="form-control" type="text" placeholder="Ex: 000.000.000-00" onchange="validarCpf();" name="cpf">
                                        <span class="invalido" id="cpf_invalido">CPF Inválido!</span>
                                    </div>
                                </div>
                            
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Data Nascimento</label>
                                    <div class="col-10">
                                        <input id="Dn" class="form-control" type="date" placeholder="" name="data_nascimento" onchange="validarDn();">
                                        <span class="invalido" id="Dn_invalido">Data de Nascimento Inválido!</span>
                                    </div>
                                </div>
                            
                                <h3 class="sub-titulo-cadastro-usuario-edereco">Endereço:</h3>
                            
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">CEP</label>
                                    <div class="col-10">
                                        <input id="cep" class="form-control" type="text" placeholder="Ex: 00000-000" onchange="pesquisaCep(cep.value);" name="endereco_cep">
                                        <span class="invalido" id="cep_invalido">CEP Inválido!</span>
                                    </div>
                                </div>
                            
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Logradouro</label>
                                    <div class="col-10">
                                        <input id="rua" class="form-control" type="text" placeholder="Ex: Cruz de Souza" name="endereco_logradouro">
                                    </div>
                                </div>
                            
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Número</label>
                                    <div class="col-10">
                                        <input id="nmr" class="form-control" type="text" placeholder="Ex: 381" onchange="validarNumero();"name="endereco_numero">
                                        <span class="invalido" id="nmr_invalido">Numero Inválido!</span>
                                    </div>
                                </div>
                            
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Complemento</label>
                                    <div class="col-10">
                                        <input id="complemento" class="form-control" type="text" placeholder="Ex: Casa,Apartamento N°5" onchange="validarComplemento();" name="endereco_complemento">
                                        <span class="invalido" id="complemento_invalido">Complemento Inválido!</span>
                                    </div>
                                </div>
                            
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Cidade</label>
                                    <div class="col-10">
                                        <input id="cidade" class="form-control" type="text" placeholder="Ex: Lages" onchange="validarCidade();" name="endereco_cidade">
                                        <span class="invalido" id="cidade_invalido">Cidade Inválida!</span>
                                    </div>
                                </div>
                            
                                <div class="form-group row">
                                    <label class="col-2 col-form-label inputState">Estado</label>
                                    <div class="col-10">
                                        <select id="estado inputState" type="text" class="form-control" name="endereco_estado" onchange="validarEstado();" >
                                            <option selected>AC</option>
                                            <option>AL</option>
                                            <option>AP</option>
                                            <option>AM</option>
                                            <option>BA</option>
                                            <option>CE</option>
                                            <option>DF</option>
                                            <option>ES</option>
                                            <option>GO</option>
                                            <option>MA</option>
                                            <option>MT</option>
                                            <option>MS</option>
                                            <option>MG</option>
                                            <option>PA</option>
                                            <option>PB</option>
                                            <option>PR</option>
                                            <option>PE</option>
                                            <option>PI</option>
                                            <option>RJ</option>
                                            <option>RN</option>
                                            <option>RS</option>
                                            <option>RO</option>
                                            <option>RR</option>
                                            <option>SC</option>
                                            <option>SP</option>
                                            <option>SE</option>
                                            <option>TO</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <p><a href="">Faça login em vez disso</a></p>
                                </div>
                                    
                            
                            <button type="button submit" name="cadastrar" value="Confirmar" class="btn btn-primary" data-dismiss="modal">Cadastrar</button>
                           
                                    
                            </form>
                            
                            </div>
                            <!--/card-block-->
                        </div>
                        <!-- /form card login -->

                    </div>


                </div>
                <!--/row-->

            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>

    <script type="text/javascript" src="../../js/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="../../js/popper.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.js"></script>
    <script type="text/javascript" src="../../js/scripts.js"></script>
</body>
</html>